<ng-container *ngVar="(breadcrumbs$ | async) as breadcrumbs">
  <nav *ngIf="(showBreadcrumbs$ | async)" aria-label="breadcrumb" class="nav-breadcrumb">
    <ol class="container breadcrumb my-0">
      <ng-container
        *ngTemplateOutlet="breadcrumbs?.length > 0 ? breadcrumb : activeBreadcrumb; context: {text: 'home.breadcrumbs', url: '/'}"></ng-container>
      <ng-container *ngFor="let bc of breadcrumbs; let last = last;">
        <ng-container *ngTemplateOutlet="!last ? breadcrumb : activeBreadcrumb; context: bc"></ng-container>
      </ng-container>
    </ol>
  </nav>

  <ng-template #breadcrumb let-text="text" let-url="url">
    <li class="breadcrumb-item">
      <div class="breadcrumb-item-limiter">
        <ng-container [ngSwitch]="text">
          <a *ngSwitchCase="'Publications'" [routerLink]="url" class="text-truncate"
            [ngbTooltip]="'breadcrumbs.publications' | translate" placement="bottom">
            {{ 'breadcrumbs.publications' | translate }}
          </a>
          <a *ngSwitchCase="'Articles'" [routerLink]="url" class="text-truncate"
            [ngbTooltip]="'breadcrumbs.articles' | translate" placement="bottom">
            {{ 'breadcrumbs.articles' | translate }}
          </a>
          <a *ngSwitchDefault [routerLink]="url" class="text-truncate" [ngbTooltip]="text | translate"
            placement="bottom">
            {{ text | translate }}
          </a>
        </ng-container>
      </div>
    </li>
  </ng-template>

  <ng-template #activeBreadcrumb let-text="text">
    <li class="breadcrumb-item active" aria-current="page">
      <div class="breadcrumb-item-limiter">
        <ng-container [ngSwitch]="text">
          <div *ngSwitchCase="'Articles'" class="text-truncate">{{ 'breadcrumbs.articles' | translate }}</div>
          <div *ngSwitchCase="'Publications'" class="text-truncate">{{ 'breadcrumbs.publications' | translate }}</div>
          <div *ngSwitchDefault class="text-truncate">{{ text | translate }}</div>
        </ng-container>
      </div>
    </li>
  </ng-template>
</ng-container>