<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">Repositório Digital IFTO</h1>
          <p class="lead">Campus Araguaina</p>
        </div>
      </div>
      <ul>
        <li>
          <strong>Sobre o Repositório:</strong>
          O Repositório Digital IFTO é uma plataforma dedicada à preservação e disseminação do conhecimento produzido
          pela comunidade acadêmica do Instituto Federal do Tocantins - Campus Araguaina.
        </li>
        <li>
          <strong>Objetivos:</strong>
          <ol>Facilitar o acesso à produção acadêmica, como teses, dissertações e artigos.</ol>
          <ol>Promover a visibilidade das pesquisas desenvolvidas no campus.</ol>
          <ol>Preservar o patrimônio intelectual da instituição.</ol>
        </li>
        <li>
          <strong>Contribuições:</strong>
          Convidamos alunos e docentes a depositarem suas produções acadêmicas, contribuindo para a construção de uma
          base de dados rica e acessível.
        </li>
      </ul>
    </div>
  </div>
  <picture class="background-image">
    <!-- <source type="image/webp"
      srcset="assets/dspace/images/banner.webp 2000w, assets/dspace/images/banner-half.webp 1200w, assets/dspace/images/banner-tall.webp 768w">
    <source type="image/jpg"
      srcset="assets/dspace/images/banner.jpg 2000w, assets/dspace/images/banner-half.jpg 1200w, assets/dspace/images/banner-tall.jpg 768w"> -->
    <img alt="" src="../../../assets/images/background-ifto-campus-de-araguaina.jpg" />
  </picture>
</div>